body {
	background-color: #613f00;
}
#body-index {
	width: 500px;
	border: 1px #000000 solid;
	background-color: #ffffff;
	padding: 10px;
	height: 175px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	font-family: Times, serif;
	font-size: 18px;
}
#title-index {
	float: left;
	text-align: center;
	width: 153px;
	border-right: 1px #000000 solid;
	padding: 20px;
	padding-top: 35px;
	height: 120px;
	vertical-align: middle;
}
#login-form-index {
	float: right;
	text-align: left;
	padding: 20px;
	padding-top: 35px;
}
#login-form-index label {
	float: left;
	width: 100px;
	display: block;
}
#login-form-index input {
	width: 150px;
	float: right;
	border: 1px #a8a8a8 solid;
	display: block;
}
#login-form-index .login-form-submit input {
	width: 40px;
	text-align: right;
	border: 1px #a8a8a8 solid;
	background-color: #b8b8b8;
}
#vertical-center {
	height: 50%;
	margin-bottom: -98px;
}
.title-index {
	letter-spacing: 1px;
}
.sign-up {
	width: 150px;
	text-align: left;
	margin-left: 100px;
}
.sign-up a {
	color: #b8b8b8;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	text-decoration: none;
}
.sign-up a:hover {
	color: #b8b8b8;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	text-decoration: underline;
}
.sign-up a:active {
	color: #b8b8b8;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	text-decoration: underline;
}
.sign-up a:visited {
	color: #b8b8b8;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	text-decoration: none;
}